.green-background {
  background-color: #d1e7dd;
}
.red-background {
  background-color: #f8d7da;
}
thead {
  text-align: center;
  background-color: rgb(117, 120, 117);
  color: white;
}
.add-movie {
  margin-left: 80vw;
  margin-top: 2vw;
}
.title {
  text-align: center;
  margin: 2vw;
  color: rgb(117, 120, 117);
}
td {
  text-align: center;
  vertical-align: middle;
}
